<<<<<<< HEAD
body {
    background-color: black;
}

p {
    color: white;
    font-weight: bold;
    text-align: center;
}
=======
body {
    background-color: black;
}

p {
    color: white;
    font-weight: bold;
    text-align: center;
}
>>>>>>> d5a678b856d1dc0bebbaa620b28385237a3fce87
