body {
    background-color: #000000;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    height: 830px;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
}

.logo {
    height: 154px;
    background: url(../img/palm-tree.png);
    background-repeat: no-repeat;
    background-position: 211px 7px;
    padding-left: 69px
}

main a {
    text-decoration: none;
}

header img {
    padding-top: 78px
}

.top {
    display: block;
    padding: 82px;
    padding-top: 0px
}

.contact {
    float: right;
    margin-top: -116px;
    margin-right: 82px;
}

main {
    padding-left: 60px;
    width: 857px;
    height: 500px;
}

figure {
    float: left;
    width: 277px;
    height: 252px;
    text-align: center;
}

figcaption {
    color: #e5e5e5;
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 11px;
}

main img {
    border: 3px solid #979797;
    border-radius: 3px;
}

footer {
    text-align: center;
    margin-top: 138px;
}

.text {
    color: #e5e5e5;
    font-family: "Tahoma";
    font-size: 11px;
    line-height: 13px;
}

.text-cont {
    color: #e5e5e5;
    font-family: "Tahoma";
    font-size: 9px;
    line-height: 11px;
}

.footer-text {
    color: #9b9b9b;
    font-family: "Tahoma";
    font-size: 10px;
}
