<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="top-mnu">
          <li><a href="#">Upcoming</a></li>
          <li><a href="#" class="light">Historical</a></li>
        </ul>
        <a class="top-btn" [routerLink]="['/search']"><img src="../../assets/images/search.svg" alt="search-icon">Search</a>
      </div>
    </div>
  </div>
</header>

<div id="curve_chart" style="width: 900px; height: 500px"></div>

<p>
  home works!
</p>
<a class="" [routerLink]="['/home']">Home</a>
<a class="" [routerLink]="['/search']">Search</a>
