/*font*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*general*/

body {
    background: url(../img/Background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Helvetica Neue";
}


/*top line*/

.top-menu {
    display: block;
    background: url(../img/background-blue.png);
    height: 36px;
    width: 100%;
}

.top-menu ul {
    float: right;
}

.top-menu li {
    display: inline-block;
    line-height: 36px;
}

.top-menu li a {
    display: block;
    padding: 0 10px;
    color: #5fb5ec;
    font-size: 14px;
    text-decoration: none;
}

.top-menu li a:hover {
    background-color: #4eabda;
    color: #fff;
}

.line {
    margin: 3px;
    float: right;
    width: 1px;
    height: 30px;
    background-color: #56a2dc;
}

.top-menu img {
    margin: 3px 12px;
    float: right;
}

.top-text {
    float: right;
    margin-top: 11px;
    margin-left: 0px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.top-text2 {
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.top-text3 {
    text-decoration: underline;
}

.top-button {
    background: linear-gradient(to bottom, rgba(79, 175, 219, 1) 0%, rgba(46, 121, 196, 1) 100%);
    border-right: 1px solid #4a9cd6;
    border-left: 1px solid #4a9cd6;
    float: right;
    margin-left: 18px;
    margin-right: 19px;
    height: 36px;
    width: 189px;
}


/*center form*/

.cform {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -280px;
    margin-top: -306px;
}

.center-form-top {
    background-color: rgba(0, 0, 0, 0.63);
    text-align: center;
    margin: 0 auto;
    width: 560px;
    height: 62px;
}

.center-form {
    background-color: rgba(0, 0, 0, 0.63);
    text-align: center;
    margin: 0 auto;
    margin-top: 2px;
    width: 560px;
    height: 548px;
}

form img {
    margin-top: 35px;
}

.line2 {
    margin-top: 26px;
    margin-bottom: 8px;
}

.line2 hr {
    height: 0px;
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 0;
    border-right: 0;
    margin: 4px;
    display: inline-block;
    width: 117px;
}

.text-form2 {
    color: #999;
    font-size: 14px;
}

.text-form3 {
    padding-top: 14px;
    color: #cbcbcb;
    font-size: 11px;
    line-height: 16px;
}

.text-form4 {
    margin-top: 21px;
    color: #cbcbcb;
    font-size: 14px;
}

form {
    width: 279px;
    margin: 0 auto;
}

.textbox {
    display: inline-block;
    height: 34px;
    width: 271px;
    margin-top: 18px;
    background: #0f0f0f;
    border: 1px solid #484948;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}

.textbox:focus {
    background: #1b5288;
    box-shadow: 0px 0px 10px 1px rgba(104, 156, 204, 1);
    outline: none;
    border: 1px solid #689bcc;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}

.textbox::-webkit-input-placeholder {
    padding-left: 15px;
    color: #cbcbcb;
    font-size: 14px;
}

.check {
    margin-top: 16px;
    padding-right: 45px;
}

input[type=Submit] {
    width: 149px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    margin-top: 18px;
    border: 1px solid #67c6e6;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(79, 173, 219, 1) 0%, rgba(46, 122, 196, 1) 100%);
}

.text-form1 {
    padding-top: 18px;
    color: #fff;
    font-size: 24px;
}

.text-form2 {
    color: #999;
    font-size: 14px;
}

.text-form3 {
    padding-top: 14px;
    color: #cbcbcb;
    font-size: 11px;
    line-height: 16px;
}
