$default-font: proxima_nova, sans-serif;
$default-color: #4c5968;
$orange-color: #ea6d10;


@font-face {
  font-family: 'proxima_nova';
  src: url('../assets/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
