@import "normalize";
@import "variables";
@import "common";


:host {
  font-family: $default-font;

}

.flex {
  display: flex;
}

.search-header {
  padding-top: 80px;
  height: 119px;
  text-align: center;
  h2 {
    color: $orange-color;
    font-size: 22px;
    font-weight: 600;
  }
}

.btn-disabled {
  background-image: none;
  background-color: #cdd5dd;
  color: #fff;
  &:hover,
  &:link {
    background-image: none !important;
    background-color: #cdd5dd;
    color: #fff;
  }
}

.home-btn {
  float: none;
  padding: 10px 50px !important;
  margin-right: 160px;
}
.mt2 {
  margin: 35px;
  color: $orange-color;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.top-mnu {
  margin: 46px 0;
  padding: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    a {
      font-family: $default-font;
      font-size: 22px;
      font-weight: 600;
      color: #4c5968;
      &:hover,
      &:link {
        text-decoration: none;
      }
    }
  }
}

.light {
  margin-left: 22px;
  color: #e3e7ec !important;
}

.top-btn {
  float: right;
  margin-top: -85px;
  margin-left: auto;
  width: 140px;
  height: 40px;
  padding: 10px 30px;
  border-radius: 30px;
  background-image: linear-gradient(103deg, #f6a624, #ea6d10);
  color: #fff;
  font-size: 15px;
  display: inline-block;
  img {
    margin-top: -7px;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(103deg, darken(#f6a624, 10%), darken(#ea6d10, 10%));
  }
}


@import "media";
