.ieback {
    height: 1010px;
}

.footer {
    background: url("../img/background-bottom.jpg") -288px 0px;
    background-size: cover;
    height: 114px;
}

.foo_wrapper {
  margin: 0 auto;
  width: 960px;
}

.menu__footer {
    float: left;
    margin-top: -29px;
    margin-left: -25%;
}

.copy2 {
    position: absolute;
    padding-top: 52px;
    float: right;
    margin-left: 650px;
    color: #fff;
    font-family: "Open-Sans Light", Arial, sans-serif;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

.copy2_end {
    font-family: "Open-Sans Extrabold", Arial, sans-serif;
}

.menu2 {
    margin-left: 29.0625%;
    height: 20px;
}

.item2 a {
    margin-left: 37px;
    padding-right: 2px;
    font-size: 20px;
}

@media all and (min-width: 769px) and (max-width: 960px) {
    .footer {
        background: url("../img/background-bottom1.jpg") -1520px 0px;
        background-size: cover;
        height: 201px;
    }
    .foo_wrapper {
        margin: 0 auto;
        width: 720px;
    }
    .menu__footer {
        float: left;
        margin-top: -29px;
        margin-left: -25%;
    }
    .copy2 {
        position: absolute;
        margin-top: 50px;
        margin-left: 585px;
        float: right;
        color: #fff;
        font-family: "Open-Sans Light", Arial, sans-serif;
        font-size: 12px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
    }
    .copy2_end {
        font-family: "Open-Sans Extrabold", Arial, sans-serif;
    }
    .menu2 {
        padding-top: 75px;
        margin-left: 134px;
        height: 20px;
    }
    .item2 a {
        margin-left: 37px;
        padding-right: 2px;
        font-size: 20px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .footer {
        height: 201px;
    }
    .foo_wrapper {
        margin: 0 auto;
        width: 386px;
    }
    .menu__footer {
        position: none;
        margin-left: 0;
    }
    .copy2 {
        position: relative;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding-top: 102px;
        height: 10px;
    }
    .menu2 {
        position: relative;
        display: block;
        padding-top: 75px;
        margin-left: -44px;
        height: 20px;
        width: 477px;
    }
    .item2 a {
        margin-left: 3.78%;
        padding-right: 2px;
        font-size: 20px;
    }
}

@media all and (min-width: 0px) and (max-width: 479px) {
    .footer {
        height: 201px;
        margin: 0 auto;
    }
    .foo_wrapper {
        margin: 0 auto;
        width: 50%;
        width: 100%;
    }
    .menu__footer {
        display: none;
    }
    .copy2 {
        position: relative;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding-top: 41px;
        width: 140px;
        height: 10px;
    }
}
