<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="top-mnu">
          <li><a href="#"></a></li>
          <li><a href="#" class="light"></a></li>
        </ul>
        <a class="top-btn home-btn" [routerLink]="['/home']">Home</a>
        <a class="top-btn btn-disabled" [routerLink]="['/search']"><img src="../../assets/images/search.svg" alt="search-icon">Search</a>
       <h2 class="mt2">Search for Upcoming & Historical Events</h2>
      </div>
    </div>
  </div>
</header>


<p>
  search works!
</p>
<a class="" [routerLink]="['/home']">Home</a>
<a class="" [routerLink]="['/search']">Search</a>
