@font-face {
    font-family: 'Ubuntu_Condensed';
    src: url('../fonts/ubuntu-condensed_allfont.ru-webfont.eot');
    src: url('../fonts/ubuntu-condensed_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-condensed_allfont.ru-webfont.woff2') format('woff2'), url('../fonts/ubuntu-condensed_allfont.ru-webfont.woff') format('woff'), url('../fonts/ubuntu-condensed_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/ubuntu-light_allfont.ru-webfont.eot');
    src: url('../fonts/ubuntu-light_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-light_allfont.ru-webfont.woff2') format('woff2'), url('../fonts/ubuntu-light_allfont.ru-webfont.woff') format('woff'), url('../fonts/ubuntu-light_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/ubuntu-medium_allfont.ru-webfont.eot');
    src: url('../fonts/ubuntu-medium_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-medium_allfont.ru-webfont.woff2') format('woff2'), url('../fonts/ubuntu-medium_allfont.ru-webfont.woff') format('woff'), url('../fonts/ubuntu-medium_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
