@import 'fonts';
@import 'accordion';
$fontC: "Ubuntu_Condensed", Arial, sans-serif;
$fontL: "Ubuntu Light", Arial, sans-serif;
$fontM: "Ubuntu Medium", Arial, sans-serif;
@mixin background($c1, $c2) {
    background: url("../img/icons1.png") $c1 $c2;
}
@mixin iconsvect($x1, $x2) {
    background-image: url('../img/svg/iconsvect.svg');
    background-size: 271px auto;
    background-position: $x1 $x2;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 1159px;
}
/*logo side*/
.logo {
    margin-left: 5px;
    width: 230px;
    margin-top: 8px;
}

.logo_name {
    display: inline-block;
    margin-left: 4px;
    margin-top: -3px;
    position: absolute;
    color: #434343;
    font-family: $fontM;
    font-size: 30px;
}

.logo_subname {
    display: inline-block;
    opacity: 0.65;
    letter-spacing: 0.28em;
    margin-left: 7px;
    color: #333;
    font-size: 12px;
    font-family: $fontL;
    text-transform: uppercase;
}

.socials_list {
    margin-top: -27px;
    margin-right: 2px;
    margin-left: 5px;
    display: inline-block;
    float: right;
    list-style: none;
}

.socials {
    li {
        display: inline-block;
        line-height: 40px;
    }
}

.socials_facebook {
    display: block;
    height: 17px;
    width: 13px;
    @include background(0, 0);
}

.socials_twitter {
    margin-left: 13px;
    display: block;
    height: 17px;
    width: 18px;
    @include background(115px, 0);
}

.socials_rss {
    margin-left: 10px;
    display: block;
    height: 17px;
    width: 18px;
    @include background(82px, 0);
}

.socials_linkedin {
    margin-left: 10px;
    display: block;
    height: 17px;
    width: 18px;
    @include background(50px, 0);
}

.socials_skype {
    margin-left: 10px;
    display: block;
    height: 17px;
    width: 18px;
    @include background(18px, 0);
}

.socials_facebook:hover {
    @include background(0, 17px);
}

.socials_twitter:hover {
    @include background(115px, 17px);
}

.socials_rss:hover {
    @include background(82px, 17px);
}

.socials_linkedin:hover {
    @include background(50px, 17px);
}

.socials_skype:hover {
    @include background(18px, 17px);
}
/*navigation menu*/
.mainmenu {
    margin-top: 34px;
    height: 56px;
    width: 1160px;
    display: block;
    background-color: #2a2d32;
}

.mainmenu ul {
    padding: 0;
}

.mainmenu {
    li {
        display: inline-block;
        padding-left: 0;

        a {
            padding-right: 40px;
            padding-left: 36px;
            padding-top: 8px;
            text-align: center;
            line-height: 37px;
            height: 48px;
            display: block;
            border-right: 1px solid black;
            font-size: 14px;
            font-family: $fontC;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

.mainmenu li:first-child {
    background-color: #248cec;
}

.mainmenu li a:hover {
    color: #f4b60d;
}

.searchfield {
    float: right;
    padding-left: 10px;
    color: white;
    margin-right: 8px;
    margin-top: -48px;
    background-color: #35383c;
    height: 39px;
    width: 240px;
    border: 1px solid black;
    @include background(18px, 17px);
    background-image: url("../img/svg/searchicon.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 211px;
}

.searchfield::-webkit-input-placeholder {
    padding-left: 13px;
    color: #535659;
}
/*bloks section*/
.trheecol__oneicon {
    float: left;
    display: inline-block;
    height: 70px;
    width: 83px;
    @include iconsvect(0, 0);
}

.trheecol__oneyellowicon {
    float: left;
    display: inline-block;
    margin-left: 33px;
    height: 34px;
    width: 38px;
    @include iconsvect(0, 62px);
}

.trheecol__twoicon {
    float: left;
    display: inline-block;
    height: 70px;
    width: 88px;
    @include iconsvect(188px, 0);
}

.trheecol__twoyellowicon {
    float: left;
    display: inline-block;
    margin-left: 33px;
    height: 34px;
    width: 38px;
    @include iconsvect(-40px, 64px);
}

.trheecol__threeicon {
    float: left;
    display: inline-block;
    height: 70px;
    width: 88px;
    @include iconsvect(89px, 0);
}

.trheecol__threeyellowicon {
    float: left;
    display: inline-block;
    margin-left: 33px;
    height: 34px;
    width: 38px;
    @include iconsvect(-80px, 60px);
}

.trheecol {
    margin-top: 90px;
    width: 383px;
    height: 180px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.trheecol__content {
    width: 383px;
    height: 180px;
    padding-left: 10px;
}

.trheecol__textblock {
    margin-top: 12px;
    margin-right: 3px;
    text-align: left;
    width: 256px;
    height: 130px;
    float: right;
}

.trheecol__header {
    color: #292b2d;
    font-family: $fontM;
    font-size: 20px;
}

.trheecol__text {
    line-height: 18px;
    margin-top: 23px;
    color: #8a8a8a;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.trheecol__link {
    line-height: 53px;
    margin-top: 2px;
    text-decoration: none;
    color: #292b2d;
    font-family: $fontM;
    font-size: 13px;
}

.trheecol__arrowicon {
    display: inline-block;
    height: 11px;
    width: 15px;
    @include iconsvect(-146px, 50px);
}

.trheecol__link:hover {
    color: #248cec;
}

.trheecol__link:hover .trheecol__arrowicon {
    background-position: -127px 50px;
}
//*services section*/

.services_wrapper {
    margin-top: 81px;
    width: 100%;
    height: 500px;
    background-color: #2a2d32;
}

.services {
    border: 1px solid #2a2d32;
    margin: 0 auto;
    width: 1159px;
}

.services__text {
    margin-top: 44px;
    color: #fff;
    font-family: $fontM;
    font-size: 24px;
}

.services__serv {
    margin-top: 52px;
    margin-right: 33px;
    width: 260px;
    height: 309px;
    display: inline-block;
}

.services__servlast {
    margin-top: 52px;
    margin-right: 0;
    width: 260px;
    height: 309px;
    display: inline-block;
}

.services__serv--text {
    margin-top: 30px;
    color: #fff;
    font-family: $fontM;
    font-size: 16px;
    text-align: center;
}

.services a {
    text-decoration: none;
}

.services a:hover .services__serv--cover {
    display: block;
}

.services__serv--cover {
    display: none;
    position: absolute;
}
//*news section*/

.news__wrapper {
    width: 100%;
    height: 543px;
    background-color: #f7f7f7;
}

.news {
    display: block;
    margin: 0 auto;
    width: 1159px;
    height: 519px;
}

.news__blocks {
    display: inline-block;
    width: 560px;
    height: 462px;
    margin-right: 35px;
}

.news__banner {
    position: absolute;
    display: inline-block;
    width: 556px;
    height: 462px;
}

.news__header {
    margin-top: 60px;
    color: #2a2d32;
    font-family: $fontM;
    font-size: 24px;
    margin-bottom: 45px;
}

.news__block1 {
    margin-bottom: 26px;
}

.news_date--month {
    margin-top: 13px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #248cec;
    z-index: 10;
}

.news_date--month {
    p {
        text-align: center;
        padding-top: 30%;
        color: #fff;
        font-family: $fontM;
        font-size: 15px;
    }
}

.news_date--day {
    margin-top: 53px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #f4b60d;
    z-index: 10;
}

.news_date--day {
    p {
        text-align: center;
        padding-top: 30%;
        color: #000;
        font-family: $fontM;
        font-size: 18px;
    }
}

.news__block1--textblock {
    float: right;
    width: 376px;
    display: inline-block;
}

.news__block1--textblock {
    h3 {
        margin-top: 7px;
        color: #2a2d32;
        font-family: $fontM;
        font-size: 16px;
    }
}

.news__block1--textblock {
    a {
        color: #2a2d32;
        text-decoration: none;
    }
}

.news__block1--textblock a:hover {
    color: #248cec;
}

.news__block1--textblock {
    h4 {
        margin-top: 8px;
        color: #9d9d9d;
        font-family: Arial, sans-serif;
        font-size: 13px;
    }
}

.news__block1--textblock {
    span {
        color: #0187f4;
    }
}

.news__block1--textblock {
    p {
        margin-top: 28px;
        line-height: 19px;
        color: #8a8a8a;
        font-family: Arial, sans-serif;
        font-size: 13px;
    }
}
//*menu`s blok*/

.bmenus {
    margin: 0 auto;
    width: 100%;
    height: 325px;
    background-color: #2a2d32;
    text-align: center;
}

.bmenus {
    div {
        margin-top: 60px;
        margin-right: 32px;
        width: 261px;
        height: 198px;
        display: inline-block;
        text-align: left;
    }
}

.bmenus {
    div {
        h6 {
            color: #fff;
            text-transform: uppercase;
            font-family: $fontM;
            font-size: 16px;
        }
    }
}

.bmenus {
    div {
        ul {
            margin-top: 38px;
        }
    }
}

.bmenus {
    div {
        ul {
            li {
                margin-bottom: 5px;
                border-bottom: 1px solid #393c40;
            }
        }
    }
}

.bmenus {
    div {
        ul {
            li:last-child {
                border-bottom: none;
            }
        }
    }
}

.bmenus div {
    a {
        opacity: 0.3;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        line-height: 30px;
    }
}

.bmenus div a:hover {
    opacity: 0.9;
    color: #248cec;
}
//*footer*/

footer {
    width: 100%;
    background-color: #35383c;
}

footer {
    a {
        text-decoration: none;
    }
}

.footer_content {
    margin: 0 auto;
    width: 1160px;
    padding-top: 20px;
    height: 40px;
    background-color: #35383c;
}

.footer__point {
    margin-top: -5px;
    position: absolute;
    width: 14px;
    height: 23px;
    @include iconsvect(257px, 23px);
    opacity: 0.25;
}

.footer__phone {
    margin-top: -7px;
    position: absolute;
    margin-left: 20px;
    width: 14px;
    height: 23px;
    @include iconsvect(235px, 23px);
    display: inline-block;
    opacity: 0.25;
}

.footer__mail {
    margin-top: -5px;
    position: absolute;
    margin-left: 22px;
    width: 16px;
    height: 23px;
    @include iconsvect(212px, 23px);
    display: inline-block;
    opacity: 0.25;
}

.footer_content {
    p {
        display: inline-block;
        margin-left: 45px;
        opacity: 0.2;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
}

.footer_copy {
    margin-top: 3px;
    float: right;
}
