@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
  url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
