/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  .t-cont {
    .venue-col {
      h3 {
        margin-left: -7px;
      }
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .chart {
    width: 100%;
    margin-bottom: -120px;
  }
  .count {
    width: 120px;
    height: 100px;
  }
  .index-btn {
    margin-right: -50%;
  }
  .t-cont {
    .venue-col {
      h3 {
        margin-left: -3px;
      }
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .count {
    margin: 6%;
    width: 180px;
    height: 160px;
    text-align: -webkit-right;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .count {

  }
  .index-btn {
    margin-right: -20%;
  }

}
@media only screen and (max-width: 548px) {
  .dates-inp {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .count {
    margin: 4%;
    width: 160px;
    height: 140px;
  }
  .index-btn {
    margin-right: 2%;
  }
  .wrap {
    display: block;
    svg {
      margin-left: 7px;
    }
  }
}

@media only screen and (max-width: 444px) {
  .top-mnu {
    li {
      a {
        font-size: 16px;
      }
    }
  }
  .count {
    margin: 5%;
    width: 120px;
    height: 100px;
  }

  .wrap {
    display: block;
    svg {
      margin-left: 7px;

    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/**/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/**/
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/**/
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/**/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/**/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/**/
