@import 'normalize';
@import 'fonts';
@import 'libs';
@import 'vars';

body {
  font-size: 14px;
  font-weight: 600;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: $default-font;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fcfcfc;
  font-weight: 100;
}

h2 {
  color: $orange-color;
  font-size: 22px;
  font-weight: 600;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.top-mnu {
  margin: 46px 0;
  padding: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    a {
      font-size: 22px;
      font-weight: 600;
      color: #4c5968;
      &:hover,
      &:link {
        text-decoration: none;
      }
    }
  }
  .light {
    margin-left: 22px;
    color: #e3e7ec;
  }
}

.top-btn {
  margin-top: 42px;
  margin-left: auto;
  width: 140px;
  height: 40px;
  padding: 8px 30px;
  border-radius: 30px;
  background-image: linear-gradient(103deg, #f6a624, #ea6d10);
  color: #fff;
  font-size: 15px;
  display: inline-block;
  img {
    margin-top: -7px;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(103deg, darken(#f6a624, 10%), darken(#ea6d10, 10%));
  }
}

.evenrow {
  background-color: #fff;
}

.t-wrapp {
  position: relative;
  overflow: hidden;
  padding-top: 37px;
  color: $default-color;
  background-color: #fff;
}

.t-wrapp.positioned {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 800px;
}

.t-cont {
  margin-top: 7px;
  overflow-y: auto;
  table {
    border-radius: 6px;
    border-spacing: 0;
    text-align: left;
    width: 100%;
    background-color: #fff;
    overflow: scroll;
    color: $default-color;
    background-color: rgba(226, 231, 236, 0.1);
    tbody {
      font-size: 14px;
      text-align: left;
      color: #4c5968;
      font-weight: 100 !important;
    }
  }

  .artist-col {
    width: 70px;
    h3 {
      margin-right: 20px;
    }
    .line {
      margin-left: 130px;
    }
    .sort-image {
      margin-left: 117px;

    }
  }

  .artistid-col {
    h3 {
      margin-right: 10px;
    }
    width: 1px;
    .line {
      margin-left: 85px;
    }
    .sort-image {
      margin-left: 72px;
    }
  }

  .date-col {
    width: 70px;
    h3 {
      margin-right: 50px;
    }
    .line {
      margin-left: 150px;
    }
    .sort-image {
      margin-left: 136px;
    }
  }

  .capacity-col {
    h3 {
      margin-right: 45px;
    }
    .sort-image {
      margin-left: 56px;
    }
  }
  .sold1-col {
    h3 {
      margin-right: 30px;
    }
  }

  .sold2-col {
    h3 {
      margin-right: 28px;
    }
  }
  .venue-col {
    width: 10px;
    h3 {
      margin-left: -33px;
    }
    .line {
      margin-left: 85px;
    }
    .sort-image {
      margin-left: 72px;
    }
  }

  .revenue-col {
    width: 70px;
    h3 {

    }
    .sort-image {
      margin-left: 107px;
    }
  }

  tr {
    font-size: 14px;
    text-align: left;
    color: #4c5968;
    &:hover {
      color: $orange-color;
      cursor: pointer;
    }
  }

  td + td {
    white-space: nowrap;
  }
  td,
  th {
    padding: 10px 25px;
  }
  th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;

    border: none;
    white-space: nowrap;
    overflow: hidden;

  }

  th:last-child {
    border-right: 0;
  }

  th div {
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    color: $default-color;
    min-width: 65px;
    top: 0;
    margin-left: -25px;
  }

  .t-item:before {
    content: '';
    background-color: #fff;
    width: 1220px;
    height: 1px;
    margin-top: 44px;
    position: absolute;
    border-bottom: solid 1px #e3e7ec;
  }
  h3 {
    text-align: center;
    font-size: 13px;
    margin-top: 23px;
  }

  td {
    padding-left: 7px;
  }
  .line {
    height: 64px;
    width: 1px;
    background-color: #e3e7ec;
    position: absolute;
    margin-top: -55px;
    margin-left: 70px;
  }
}

.sort-image {
  width: 8px;
  height: 14px;
  margin-left: 58px;
  margin-top: -20px;
  position: absolute;
  background-image: url(../img/sort.svg);
  &:hover {
    background-image: url(../img/sort-active.svg);
  }
}

.date-block {
  margin-top: 63px;
  margin-bottom: 27px;
  color: $default-color;
  font-size: 28px;
  svg {
    cursor: pointer;
    margin-left: 28px;
    margin-right: 5px;
  }
  span {
    cursor: pointer;
    color: #9098a1;
    font-size: 14px;
  }
}

.chart {
  padding-top: 7px;
  width: 561px;
  height: 268px;
  margin-bottom: 80px;
  background-color: #fff;
  border-radius: 4px;
  a {
    margin: 0 15px;
    font-size: 14px;
    color: #cdd5dd;
    &:hover {
      font-size: 14px;
      color: $orange-color;
      text-decoration: none;
    }
  }
  .circle-btn {
    margin-right: 12px;
    float: right;
    width: 22px;
    height: 22px;
    border: 1px solid #cdd5dd;
    border-radius: 50%;
    cursor: pointer;
    .left-triange {
      position: absolute;
      margin-top: 5px;
      margin-left: 1px;
      border: 5px solid transparent;
      border-right: 6px solid #cdd5dd;

    }
    .right-triange {
      position: absolute;
      margin-top: 5px;
      margin-left: 8px;
      border: 5px solid transparent;
      border-left: 6px solid #cdd5dd;

    }
    &:hover {
      border: 1px solid $orange-color;

      .right-triange {
        border-left: 6px solid $orange-color;
      }

      .left-triange {

        border-right: 6px solid $orange-color;
      }
    }
  }
}

.counts {
  white-space: nowrap;
  margin-top: 119px;
}

.count {
  margin: 3%;
  text-align: left;

  .count-name {
    font-size: 14px;
    font-weight: 600;
    color: #4c5968;
  }
  background-color: #fff;
  width: 160px;
  height: 120px;
  padding-left: 20px;
  padding-top: 20px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: $default-color;
  }
  p {
    font-size: 32px;
    font-weight: 300;
    color: #ea6d10;
    line-height: 1px;
    margin-bottom: 15px;
  }
  .total-tickets {
    font-size: 13px;
    color: #cdd5dd;
    font-weight: 100;
  }
}

.chart-cont {
  a:first-child {
    margin-left: 60px;
  }
}

.index-btn {
  margin-right: -70%;
  padding: 8px 49px;
}

.pressed {
  background-image: none;
  background-color: #cdd5dd;
  color: #fff;
  &:hover,
  &:link {
    background-image: none;
    background-color: #cdd5dd;
    color: #fff;
  }
}

.seach-form {
  margin-bottom: 54px;
  input[type=text] {
    display: inline-block;
    width: 320px;
    height: 42px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 40px;
    background-color: #ffffff;
    border: solid 1px #cdd5dd;
    outline: none;
    color: $default-color;
    &:hover,
    &:active {
      border: solid 1px $orange-color;
    }
  }
  .dates {
    display: inline-block;
    width: 180px;
    height: 42px;
  }
  .dates-inp {
    display: inline-block;
    width: 180px;
    height: 42px;
    padding-left: 65px;
    font-size: 15px;
    border-radius: 40px;
    background-color: #ffffff;
    border: solid 1px #cdd5dd;
    outline: none;
    color: $default-color;
    font-weight: 100 !important;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 18px 10px;

    &:hover,
    &:active {
      border: solid 1px $orange-color;
      background-image: url("../img/calendar-active.svg");
    }
  }

  input[type=date] {
    font-size: 15px;
    width: 180px;
    height: 42px;
    border-radius: 40px;
    background-color: #ffffff;
    border: solid 1px #cdd5dd;
    outline: none;
    color: $default-color;
    &:hover,
    &:active {
      border: solid 1px $orange-color;
    }
  }
}

#jrange input {
  width: 200px;
}

#jrange div {
  font-size: 9pt;
}

.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
  background: none;
  background-color: lightsteelblue;
}

.myprevw {
  font-size: 15px;
  cursor: pointer;
  color: #bac2c7;
  padding: -5px;
}

.mynexte {
  font-size: 15px;
  cursor: pointer;
  color: #bac2c7;
  padding: -5px;
}

//chart styles:
.ct-grid {
  stroke: rgba(222, 216, 216, 0);
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: $orange-color;
  stroke-width: 3px;
}

.ct-point {
  stroke-width: 9px;
  stroke-linecap: round;
  cursor: pointer;
}

.ct-end {

  font-size: 12px;
  text-align: center;
  color: #4c5968;
}

.chart-cont {
  height: 265px;

}

.chartist-tooltip {
  margin-top: -5px;
  background: #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 #cdd5dd;
  height: 35px;
}

.chartist-tooltip:before {
  border-top-color: #ffffff;
  width: 5px;
  height: 6px;
  margin-left: -13px;
  border: 13px solid transparent;
  border-top-color: #ffffff;
}

.ct-vertical {
  font-size: 12px;
  text-align: right;
  color: #4c5968;
}

.ui-datepicker-title {

  p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
  }

}

.ui-datepicker-calendar {
  span {
    font-weight: 100 !important;
  }
}

.ui-state-default {
  font-weight: 100 !important;
  font-size: 12px;

}

.noresult {
  text-align: center;
  font-size: 14px;
  color: #ea6d10;
  visibility: hidden;
}

@import 'media';
